*{
    box-sizing: border-box;
}



body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background:#000000;
    color: white;
    
}

.container{
    width:85%;
    margin:auto;
    overflow: hidden;
}

header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}


/* all the elements with name 'a' */
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

/* for the unordered list */
header ul{
    margin: 0;
    padding: 0;
}

/* for the list items */
header li{
    float: left;
    display: inline;
    padding: 10px 30px 0 30px;
}

header #branding{
    float: left;
}
header #branding h1{
    margin:0;
    font-size: 50px;
}

nav a:hover{
	background:skyblue;
	color:black;
}

header nav{
    float: right;
}



header .current a{
    color: #e8491d;
    font-weight: bold;
}


.multi{
    margin: auto;
    overflow:auto;

}

.gallery{
    margin: 5px;
    border:#e8491d 3px solid;
    float: left;
    width: 360px;
    
    
}
.gallery2{
     margin: 5px;
    border:#e8491d 3px solid;
    float: left;
    width: 360px;
    align="left";
}
.gallery2 img{
    width: 100%;
    height: auto; 
}
.gallery img{
    width: 100%;
    height: auto;
    
}
.description{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    background:white;
}

.content {
    width: 90%;
    margin: auto;
    overflow: auto;
    
}

